/* Add here all your CSS customizations */
body{
    font-family: "Open Sans", "Shadows Into Light", Lato,Tahoma, Arial
}
.no-border{
    border: none;
}
@media print{   
    .btn-print {
        display: none;
    }

}